:root {
  --variable-collection-292929: rgba(41, 41, 41, 1);
  --variable-collection-808080: rgba(128, 128, 128, 1);
  --variable-collection-ffa31a: rgba(255, 163, 26, 1);
  --variable-collection-1b1b1b: rgba(27, 27, 27, 1);
  --variable-collection-FFFFFF: rgba(255, 255, 255, 1);
}
