body {
  margin: 0;
  overflow-x: hidden;
}

.landing-news {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw; 
  margin: 0 auto; 
}

.landing-news .div {
  background-color: var(--variable-collection-FFFFFF);
  width: 100vw; 
  max-width: 1920px; 
  height: 4770px;
  position: relative;
  margin: 0 auto; 
}


.landing-news {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.landing-news .div {
  background-color: var(--variable-collection-FFFFFF);
  width: 1920px;
  height: 4770px;
  position: relative;
}

.landing-news .footer {
  position: flex;
  width: 821px;
  height: 22px;
  top: 4700px;
  left: 549px;
  background-color: transparent;
}

.landing-news .group {
  position: relative;
  width: 1932px;
  height: 100px;
  top: -30px;
  left: -549px;
}

.landing-news .overlap-group {
  position: relative;
  width: 1920px;
  height: 100px;
  background-color: var(--variable-collection-1b1b1b);
  box-shadow: 0px 0px 50px 49px #1b1b1b;
}

.landing-news .text-wrapper {
  position: flex;
  height: 22px;
  top: 30px;
  left: 879px;
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landing-news .text-wrapper-2 {
  position: flex;
  height: 22px;
  top: 30px;
  left: 1054px;
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landing-news .text-wrapper-3 {
  position: flex;
  height: 22px;
  top: 30px;
  left: 1166px;
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-news .text-wrapper-4 {
  position: flex;
  height: 22px;
  top: 30px;
  left: 1256px;
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-news .privacy-legal {
  position: flex;
  height: 22px;
  top: 30px;
  left: 702px;
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landing-news .text-wrapper-5 {
  position: flex;
  height: 22px;
  top: 30px;
  left: 549px;
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landing-news .peakpx {
  position: absolute;
  width: 1920px;
  height: 661px;
  top: 0;
  left: 0;
}

.landing-news .group-2 {
  position: absolute;
  width: 1490px;
  height: 280px;
  top: 777px;
  left: 282px;
}

.landing-news .p {
  position: absolute;
  width: 902px;
  height: 44px;
  top: 0;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-news .text-wrapper-6 {
  position: absolute;
  width: 1482px;
  height: 44px;
  top: 44px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 100;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-news .text-wrapper-7 {
  position: absolute;
  width: 1360px;
  top: 99px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 200;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-news .text-wrapper-8 {
  position: absolute;
  width: 229px;
  top: 234px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 100;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: underline;
}

.landing-news .group-3 {
  position: absolute;
  width: 1490px;
  height: 280px;
  top: 1173px;
  left: 282px;
}

.landing-news .group-4 {
  position: absolute;
  width: 1490px;
  height: 280px;
  top: 1569px;
  left: 282px;
}

.landing-news .group-5 {
  position: absolute;
  width: 1490px;
  height: 280px;
  top: 1965px;
  left: 282px;
}

.landing-news .group-6 {
  position: absolute;
  width: 1490px;
  height: 280px;
  top: 2361px;
  left: 282px;
}

.landing-news .group-7 {
  position: absolute;
  width: 1490px;
  height: 280px;
  top: 2757px;
  left: 282px;
}

.landing-news .group-8 {
  position: absolute;
  width: 1490px;
  height: 280px;
  top: 3153px;
  left: 282px;
}

.landing-news .group-9 {
  position: absolute;
  width: 1490px;
  height: 280px;
  top: 3549px;
  left: 282px;
}

.landing-news .group-10 {
  position: absolute;
  width: 1490px;
  height: 280px;
  top: 3945px;
  left: 282px;
}

.landing-news .frame {
  position: absolute;
  width: 491px;
  height: 43px;
  top: 4400px;
  left: 715px;
}

.landing-news .text-wrapper-9 {
  position: absolute;
  width: 86px;
  height: 43px;
  top: -1px;
  left: 405px;
  font-family: "Inter", Helvetica;
  font-weight: 200;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landing-news .arrow {
  position: absolute;
  width: 15px;
  height: 8px;
  top: 18px;
  left: 315px;
}

.landing-news .text-wrapper-10 {
  position: absolute;
  width: 113px;
  height: 43px;
  top: -1px;
  left: 189px;
  font-family: "Inter", Helvetica;
  font-weight: 200;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landing-news .text-wrapper-11 {
  position: absolute;
  width: 86px;
  height: 43px;
  top: -1px;
  left: 0;
  font-family: "Inter", Helvetica;
  font-weight: 200;
  color: #00000080;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landing-news .img {
  position: fixed;
  width: 50px;
  height: 50px;
  top: 870px;
  left: 1800px;
}

.landing-news .header {
  position: fixed;
  width: 1887px;
  height: 100px;
  top: 0;
  left: 0;
  background-color: transparent;
}

.landing-news .overlap {
  position: absolute;
  width: 1607px;
  height: 100px;
  top: 0;
  left: 0;
  background-image: url(./img/rectangle-1.svg);
  background-size: 100% 100%;
}

.landing-news .drawer {
  position: absolute;
  width: 50px;
  height: 61px;
  top: 29px;
  left: 37px;
}

.landing-news .rectangle {
  top: 16px;
  position: absolute;
  width: 50px;
  height: 2px;
  left: 0;
  background-color: #d9d9d9;
}

.landing-news .rectangle-2 {
  top: 0;
  position: absolute;
  width: 50px;
  height: 2px;
  left: 0;
  background-color: #d9d9d9;
}

.landing-news .rectangle-3 {
  top: 32px;
  position: absolute;
  width: 50px;
  height: 2px;
  left: 0;
  background-color: #d9d9d9;
}

.landing-news .text-wrapper-12 {
  position: absolute;
  width: 151px;
  height: 24px;
  top: 38px;
  left: 282px;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landing-news .text-wrapper-13 {
  position: absolute;
  width: 351px;
  height: 24px;
  top: 38px;
  left: 621px;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landing-news .text-wrapper-14 {
  position: absolute;
  width: 147px;
  height: 24px;
  top: 38px;
  left: 1160px;
  font-family: "Montserrat", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landing-news .LOGO {
  position: absolute;
  width: 211px;
  height: 80px;
  top: 10px;
  left: 1676px;
  object-fit: cover;
}
